  .about-panel {
    width: 30vw;
    background-color: var(--highlight-color);
    
    max-height: calc(100vh - 70px);
    overflow-y: scroll;
    z-index: 2;
    box-shadow: -25px 0px 20px -20px rgba(0,0,0,0.5);
    padding-left: 1%;
    padding-right: 1%;
    float:right;
    
  }

  .about-panel * {
    font-size: large;
  }

  .panel-content {
    padding: 20px;
   
  }

  ul{
    list-style: none;
  }

  li{
    margin-bottom: 12px;
  }

  @media (max-width: 1000px){
    .about-panel{
       width: 98vw;
    }
}