.kamikaze-popup *{
    margin: auto;
}

.ship-picture{
    width:500px;
    height: auto;
    vertical-align: middle;
}

.flag{
    height: 23px;
    padding-right: 5px;
}
.target-name{
    font-size: 30px;
    padding: 6px;
}
.target-type{
    font-size: 18px;
    padding: 6px;
}
.fate-sunk, .fate-damaged{
    font-size: 20px;
    padding: 2px 0em 2px 0em;
    color: white;
}

.fate-sunk{
    background-color: red;

}
.fate-damaged{
    background-color: black;
}

.sources * {
    font-size: 11px;
}


a {
    color: blue;
    text-decoration: underline;
  }
  
  a:visited {
    color: purple;
  }
  