.map-container {
  position: absolute;
  z-index: -2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 700px) {
  .map-container-anchor {
    position-anchor: --timeline-anchor;
    bottom: calc(anchor(top));
  }
  .map-container-no-anchor {
    bottom: 119px;
  }
}
