@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Lilita+One&family=Outfit:wght@629&family=Saira+Stencil+One&family=Sixtyfour&display=swap');

.geologica-bold{
    font-family: "Geologica", sans-serif;
    font-weight: 800;
  }
  
 .geologica{
    font-family: "Geologica", sans-serif;
    font-weight: 400;
}

html{
    background-color: var(--background-color);
    height: 100%;
}

.home-body{
    overflow-x: hidden;
    overflow-y: auto;
}

.welcome-container{
    width: var(--home-width);
    margin: var(--home-margain-a) auto;
}
.welcome{
    margin: var(--home-margain-a) auto;
    text-align: center;
    font-size: 40px;
    font-family: var(--primary-font);

}
.welcome-desc{
    margin: var(--home-margain-b) auto;
    width: var(--home-width);
    text-align: center;
    font-size: larger;
    border-radius: 7px;
    background-color: var(--secondary-color);
    padding: 20px;
}

.maps-header{
    margin:  auto;
    width: var(--home-width);
    font-family: var(--primary-font);
    font-size: 35px;
}

.map-panel{
   
    width: var(--home-width);
    height: auto;

    margin: 30px auto;
    display: flex;
    color: inherit;
    border: solid 3px black;
    background-color: var(--secondary-color);
    text-decoration: none;
}
.map-panel:visited{
    color: inherit;
}
.map-panel:hover{
    background-color: var(--highlight-color);
    border-color: var(--primary-color);
}

.map-title{
    font-size: 26px;
    padding-bottom: 5px;
    font-family: var(--primary-font);
}
.map-label{
   flex:3;
   padding: 10px;
  
}

.map-icon{
    width: auto;
    height: auto;

    max-width: 30em;
    max-height: 18em;
}

.map-desc{
    font-size: 20px;
}

.more-maps{
    padding: 10px;
    text-align: center;
    color: gray;
}

.spacer{
    height: 120px;
}

.light-link{
    color: aquamarine;
}
.light-link:visited{
    color:rgb(176, 131, 199);
}

@media (max-width: 900px){
    .map-icon{
        display: none;
    }
}