  .about-panel {
    left: 1;
    right: 0;
    width: 300px;
    background-color: #f0f0f0;
    overflow-y: auto;
    z-index: 2;
    box-shadow: -25px 0px 20px -20px rgba(0,0,0,0.5);
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
  }
  
  #bottom-padding{
    padding-bottom: 1em;
  }

  .panel-content {
    padding: 20px;
  }

  ul{
    list-style: none;
  }

  li{
    margin-bottom: 12px;
  }